<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <link rel="stylesheet" href="/css/bootstrapAdjust.css">
    <script src="/js/jquery.min.3.4.1.js" defer></script>
    <script src="/js/book/Book.js" defer></script>
    <script src="/js/jquery.min.3.4.1.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <!--    Hidden input that holds username that will be used to make a booking-->
    <input id="username" th:value="${user.getName()}" type="hidden">

    <div class="container">

        <!-- Display a calendar. If a valid date (today or the future) is selected this
            date will be used to reload DOM with available/unavailable desks for that day-->

        <br>
        <!--            <form action="/booking/add/process_form" method="post">-->
        <!--                <label for="bookingDate">Date:</label>-->
        <!--                <input type="date" id="bookingDate" name="bookingDate">-->
        <!--            </form>-->
        <!-- Display a calendar. If a valid date (today or the future) is selected this
            date will be used to reload DOM with available/unavailable desks for that day-->
        <div style="display: flex;flex-wrap: wrap;">
            <div class="left">
                <br>
                <form action="/booking/add/process_form" method="post">
                    <label for="bookingDate">Date:</label>
                    <input type="date" id="bookingDate" name="bookingDate" onchange="pastDateWarn()">
                </form>

                <br>
                <br>

                <!-- The other input used to reload DOM showing desks, the room for the desk -->
                <!-- The other input used to reload DOM showing desks, the room for the desk.
                We also have the view desks button here which will load the DOM with desks-->

                <!--            <form id="form">-->
                <!--                <p>-->
                <!--                    <label for="room">Room: </label>-->
                <!--                    <select id="room" name="room" required>-->
                <!--                        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>-->
                <!--                    </select>-->
                <!--                </p>-->
                <!--            </form>-->
                <form id="form">
                    <p>
                        <label for="room">Room: </label>
                        <select id="room" name="room" required>
                            <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" class="btn btn-primary" value="View Desks">
                    </p>
                </form>
            </div>
            <div class="right">
                <br>
                <img style="width: 70%;margin-left: 30px;" id="roomImg" src="" alt="">
            </div>
        </div>

        <!-- Loading progress spinner. -->
        <div id="progressSpinner" class="d-flex justify-content-center visually-hidden">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <!-- Desks availability subtitle. -->
        <h5 id="desksAvailabilitySubtitle"></h5>

        <!-- Booking quota. -->
        <h6 id="quotaText"></h6>

        <!-- The table that will be populated with desks upon submission of the above button. -->
        <table class="table bootstrapAdjustTable">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Desk Name</th>
                <th scope="col">Desk Type</th>
                <th scope="col">Notes</th>
                <th scope="col">Available</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <!-- Pagination functionality as seen the manage desks page. -->

        <ul class="pagination justify-content-end" style="align-items: center;">
            <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
            <li class="page-item">
                <button class="page-link" id="tablePreviousBtn">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="tableNextBtn">Next</button>
            </li>
        </ul>

    </div>

</main>

<!-- To trigger the Bootstrap Modal below, just add the following attributes to a button:
data-mdb-toggle="modal" data-mdb-target="#oneBookingPerDay"-->

<!-- Modal -->
<!--    <div class="modal top fade" id="oneBookingPerDay" tabindex="-1" aria-labelledby="oneBookingPerDayLabel"-->
<!--         aria-hidden="true"-->
<!--         data-mdb-backdrop="true" data-mdb-keyboard="true">-->
<!--        <div class="modal-dialog  ">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="oneBookingPerDayLabel">Woops!</h5>-->
<!--                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">You may only book one desk per day!</div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">-->
<!--                        Close-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- Modal -->
<div class="modal top fade" id="oneBookingPerDay" tabindex="-1" aria-labelledby="oneBookingPerDayLabel"
     aria-hidden="true"
     data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oneBookingPerDayLabel">Woops!</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">You may only book one desk per day!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- To trigger the Bootstrap Modal below, just add the following attributes to a button:
data-mdb-toggle="modal" data-mdb-target="#bookedOut"-->

<!-- Modal -->
<div class="modal top fade" id="bookedOut" tabindex="-1" aria-labelledby="bookedOutLabel" aria-hidden="true"
     data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookedOutLabel">Woops!</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Somebody else has booked that desk out!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- No quota remaining modal -->
<div class="modal top fade" id="noQuotaRemaining" tabindex="-1" aria-labelledby="noQuotaRemainingLabel"
     aria-hidden="true"
     data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noQuotaRemainingLabel">Out of quota</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">You have used all your quota for this room for this month.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<script type="application/javascript">

    // fetch img
    let roomId = document.getElementById("room").value
    fetchImg(roomId)

    $("select#room").change(function () {
        fetchImg($(this).val())
    })

    function fetchImg(id) {
        $.ajax({
            url: "/Booking/Room/" + id,
            success(res) {
                if (res.records.roomImgUrl) {
                    document.getElementById("roomImg").src = res.records.roomImgUrl
                } else {
                    document.getElementById("roomImg").src = ""
                }
            }
        })
    }
</script>