<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book a Desk</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <link rel="stylesheet" href="/css/bootstrapAdjust.css">
    <script src="/js/jquery.min.3.4.1.js" defer></script>
    <script src="/js/book/BookAdmin.js" defer></script>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main>

    <div class="container">

        <br>

        <form id="form">

            <p>
                <label for="bookingDate">Date:</label>
                <input type="date" id="bookingDate" name="bookingDate" onchange="pastDateWarn()">
            </p>

            <p>
                <label for="room">Room: </label>
                <select id="room" name="room" required>
                    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                </select>
            </p>

            <p>
                <label for="employee">Book for: </label>
                <select id="employee" name="employee" required>
                    <option th:each="employee : ${employees}" th:value="${employee.username}"
                            th:text="${employee.username}"></option>
                </select>
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="View Desks">
            </p>
        </form>

        <table class="table bootstrapAdjustTable">
            <thead>
            <tr>
                <!-- id, name, type, notes, available, bookedBy, bookingId -->
                <th scope="col">ID</th>
                <th scope="col">Desk Name</th>
                <th scope="col">Desk Type</th>
                <th scope="col">Notes</th>
                <th scope="col">Available</th>
                <th scope="col">Booked By</th>
                <th scope="col">Booking Id</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <ul class="pagination justify-content-end" style="align-items: center;">
            <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
            <li class="page-item">
                <button class="page-link" id="tablePreviousBtn">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="tableNextBtn">Next</button>
            </li>
        </ul>

    </div>
</main>


</body>
</html>