<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking Added</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header th:replace="Fragments/userHeader :: header"></header>

    <main>
        <p>Your booking was a success!</p>
    </main>

    <footer th:replace="Fragments/footer :: footer"></footer>
</body>
</html>