body {
    background: #888c8a;;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-height: 700px;
    overflow: hidden;
}

.c {
    text-align: center;
    display: block;
    position: relative;
    width: 80%;
    margin: 100px auto;
}

.error {
    border-radius: 10px;
    border: 5px solid;
    color: #d8d8d8;
    font-size: 200px;
    position: relative;
    display: inline-block;
    letter-spacing: 15px;
}

._1 {
    color: #dcdada;
    margin-top: 10px;
    text-align: center;
    display: block;
    position: relative;
    letter-spacing: 12px;
    font-size: 4em;
    line-height: 80%;
}

._2 {
    color: #dcdada;
    margin-top: 20px;
    text-align: center;
    display: block;
    position: relative;
    font-size: 20px;
}

.btn {
    margin: 20px;
    width: 270px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    background: #dcdada;
    cursor: pointer;
    outline: none;
    color: #0C0C0C;
    font-size: 17px;
}

.btn :hover {
    cursor: pointer;
}

hr {
    padding: 0;
    border: none;
    border-top: 5px solid #fff;
    color: #fff;
    text-align: center;
    margin: 0px auto;
    width: 420px;
    height: 10px;
    z-index: -10;
}

hr:after {
    content: "\2022";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 2em;
    padding: 0 0.2em;
    background: #FFFFFF;
}