<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Admin - Add Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:replace="Fragments/adminHeader :: header">Default</header>
    <h1>Add Room</h1>
    <form method="post" action="/admin/room/add/process_form">
        <p>
            <label for="name">Room Name: </label>
            <!-- Input pattern: Must start with alphanumeric and allow spaces anywhere afterwards. -->
            <input type="text" id="name" name="name" required pattern="([A-Za-z0-9]+)([A-Za-z0-9\s]*)">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
        <br>

    </form>
    <p th:if="${result}">Successfully added room.</p>
    <p th:if="${result != null && !result}">Failed to add room.</p>

    <br>
    <br>


    <br>
    <br>

    <a href="/">Home</a>

</body>

</html>
