<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
    <th:block th:insert="fragments/theme :: theme"/>
</head>

<body>
<header th:replace="fragments/adminHeader :: header">Default</header>
<main>
    <!--    Added form which takes id of the room from manage_rooms
    and appends details related to id here.
    Update the name accordingly and save it or cancel it.-->
    <div class="container mt-auto">
        <h1>Rooms</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Room ID</td>
                <th scope="col">Room Name</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="room: ${rooms}" th:data-id="${room.id}">
                <td th:text="${room.id}"/>
                <td th:text="${room.name}"/>
                <td>
                    <form th:object="${room}" method="post" action="/admin/room/edit/process_form">
                        <input type="hidden" id="id" name="id" th:value="${room.id}">
                        <input type="text" id="name" name="name" th:value="${room.name}" required pattern="([A-Za-z0-9]+)([A-Za-z0-9\s]*)">
                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        <a href="/admin/rooms/all" class="btn btn-danger btn-sm" style="text-decoration: none">Cancel</a>
                    </form>
                 </td>

             </tr>
    </tbody>
    </table>
    </div>
    <br>
    <br>
    <br>
    <footer th:replace="fragments/footer :: footer">Default</footer>
</main>
</body>

<script type="text/javascript" src="/js/admin/Rooms.js"></script>
</html>
</title>
</head>
<body>

</body>
</html>