<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/theme :: theme"/>
    <title>Manage Bookings</title>
</head>
<body>
<header th:replace="Fragments/header :: header"></header>

<div class="container">

    <h1>Manage Bookings</h1>

    <table class="table caption-top">
        <caption>
            Bookings
        </caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date (dd-mm-yy)</th>
            <th scope="col">Room Name</th>
            <th scope="col">Desk Name</th>
            <th scope="col">Desk Type</th>
            <th scope="col">Desk Notes</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking: ${bookings}" th:data-id="booking.id">
            <td th:text="${booking.username}"/>
            <td th:text="${booking.dateOrderedForDisplay}"/>
            <td th:text="${booking.roomName}"/>
            <td th:text="${booking.deskName}"/>
            <td th:text="${booking.deskType}"/>
            <td th:text="${booking.deskNotes}"/>
            <td>
                <button th:id="${booking.id}" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>