<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Manage Rooms</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <script type="text/javascript" src="/js/admin/Rooms.js" defer></script>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <!--    code adapted from HO. File :Bookings.html
        Updated the adapted code to match the list of rooms to be displayed.
        added anchor tag to redirect to edit the room
        added results div to display according to the flow-->
        <div class="container mt-auto">
            <h1>Rooms</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Room ID</th>
                        <th scope="col">Room Name</th>
                        <th scope="colgroup" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room: ${rooms}" th:data-id="${room.id}">
                        <td th:text="${room.id}"></td>
                        <td th:text="${room.name}"></td>
                        <td>
                            <div class="col-md" th:id="buttons+${room.id}" style="display: inline">
                            <button th:id="${room.id}" onclick="editRoom(this.id)" class="btn btn-secondary btn-sm"> Update </button>
                            <button th:id="${room.id}" onclick="deleteRoom(this.id)" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                            </div>
                            <div class="col-md" th:id="edit+${room.id}" th:object="${room}" style="display: none">
                                <form th:id="editForm+${room.id}">
                                    <input type="hidden" id="id" name="id" th:value="${room.id}">
                                    <input type="text" id="name" name="name" th:value="${room.name}" required pattern="([A-Za-z0-9]+)([A-Za-z0-9\s]*)">
                                    <button type="submit" th:id="${room.id}" class="btn btn-primary btn-sm" onclick="saveEdit(this.id)">Save</button>
                                    <a href="/admin/rooms/all" class="btn btn-danger btn-sm" style="text-decoration: none">Cancel</a>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p id="result"></p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <footer th:replace="fragments/footer :: footer">Default</footer>
    </main>
</body>

</html>
