<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Manage Rooms</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <script type="text/javascript" src="/js/admin/Rooms.js" defer></script>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <!--    code adapted from HO. File :Bookings.html
    Updated the adapted code to match the list of rooms to be displayed.
    added anchor tag to redirect to edit the room
    added results div to display according to the flow-->
    <div class="container mt-auto">
        <h1>Rooms</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Room ID</td>
                <th scope="col">Room Name</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="room: ${rooms}" th:data-id="${room.id}">
                <td th:text="${room.id}" id="id"/>
                <td th:text="${room.name}"/>
                <td><a th:id="${room.id}" class="btn btn-secondary btn-sm" style="text-decoration: none" th:href="@{/admin/room/edit/{id}(id=${room.id})}">Edit</a> </td>

                <td>
                    <button th:id="${room.id}" onclick="deleteRoom(this.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <p th:if="${result}">Room name Saved.</p>
            <p th:if="${result != null && !result}">Failed to update room.</p>
            <p id="result"></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <footer th:replace="fragments/footer :: footer">Default</footer>
</main>
</body>

</html>
