<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
<!--    <link href="/css/bootstrap.min.css" rel="stylesheet">-->
<!--    Table reference:-->
<!--    https://www.geeksforgeeks.org/bootstrap-4-tables/-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h1 style="text-align:center;color:green;">Bookings</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Booking ID</td>
                <th scope="col">Username</td>
                <th scope="col">Date</td>
                <th scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="booking: ${bookings}" th:data-id="${booking.id}">
            <td th:text="${booking.id}"/>
            <td th:text="${booking.username}"/>
            <td th:text="${booking.date}"/>
            <td><button th:id="${booking.id}" onclick="sendForm(this.id)" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<a href="/">Home</a>

</body>

<script>
    function sendForm(id) {

        // let id = document.forms["deleteBookingForm"]["id"].value;
        let params = 'id=' + id;
        let xhttp = new XMLHttpRequest();
        xhttp.open("DELETE","/booking/delete",true);
        xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");

        xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status === 200) {
                console.log("Removing deleted item from DOM...")
                removeDeletedBookingFromDOM(id);
            }
            else
            {
                console.error(xhttp.statusText);
            }
        }

        xhttp.send(params);

        return false;

    }

    function removeDeletedBookingFromDOM(id){
        // const user = document.querySelector("[data-user='poppy']");
        const bookingRow = document.querySelector('[data-id="'+ id +'"]');
        // console.log(bookingRow);
        bookingRow.parentElement.removeChild(bookingRow);
    }


</script>
</html>