<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrapAdjust.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/jquery.min.3.4.1.js" defer></script>
    <script src="/js/Book.js" defer></script>
</head>
<body>
    <header th:replace="Fragments/userHeader :: header"></header>

    <main>
        <!--    Hidden input that holds username that will be used to make a booking-->
        <input id="username" th:value="${user.getName()}" type="hidden">

        <div class="container">

            <!-- Display a calendar. If a valid date (today or the future) is selected this
                date will be used to reload DOM with available/unavailable desks for that day-->

            <br>
            <form action="/booking/add/process_form" method="post">
                <label for="bookingDate">Date:</label>
                <input type="date" id="bookingDate" name="bookingDate" onchange="pastDateWarn()">
            </form>

            <br>

            <!-- The other input used to reload DOM showing desks, the room for the desk.
            We also have the view desks button here which will load the DOM with desks-->

            <form id="form">
                <p>
                    <label for="room">Room: </label>
                    <select id="room" name="room" required>
                        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                    </select>
                </p>
                <p>
                    <input type="submit" class="btn btn-primary" value="View Desks">
                </p>
            </form>

            <!-- The table that will be populated with desks upon submission of the above button. -->

            <table class="table bootstrapAdjustTable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Desk Name</th>
                        <th scope="col">Desk Type</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!-- Pagination functionality as seen the manage desks page. -->

            <ul class="pagination justify-content-end" style="align-items: center;">
                <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
                <li class="page-item">
                    <button class="page-link" id="tablePreviousBtn">Previous</button>
                </li>
                <li class="page-item">
                    <button class="page-link" id="tableNextBtn">Next</button>
                </li>
            </ul>

        </div>

    </main>

    <footer th:replace="Fragments/footer :: footer"></footer>
</body>

</html>