<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="Book.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Book</title>
</head>
<body>
<header th:replace="Fragments/userHeader :: header">Default</header>

<form action="/booking/add/process_form" method="post" onsubmit="return validateForm()">
    <label for="bookingDate">Date:</label>
    <input type="date" id="bookingDate" name="bookingDate" onchange="pastDateWarn()">
    <input type="submit">
</form>

<br>
<br>

<div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

<br>
<br>

<a href="/">Home</a>

</body>



<script type="text/javascript" src="/Book.js"></script>

</html>