<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookings</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <script type="text/javascript" src="/Bookings.js" defer></script>
    <!--    Reference for table styling: -->
    <!--    https://www.geeksforgeeks.org/bootstrap-4-tables/-->
</head>

<body>
    <header th:replace="Fragments/userHeader :: header">Default</header>

    <main>
        <div class="container">

            <h1>Bookings</h1>

            <!--    Thymeleaf for loop over all bookings that are associated
                    with the currently logged-in user, where each booking
                    corresponds to one row in an HTML table. At the end of
                    each row, a cell for a deletion button is also rendered.-->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking: ${bookings}" th:data-id="${booking.id}">
                        <td th:text="${booking.id}"/>
                        <td th:text="${booking.username}"/>
                        <td th:text="${booking.date}"/>
                        <td>
                            <button th:id="${booking.id}" onclick="deleteBooking(this.id)" class="btn btn-danger">Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer th:replace="Fragments/footer :: footer">Default</footer>
</body>

</html>
