<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>

<p>Here are your bookings:</p>

<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>date</th>
    </tr>
    <tr th:each="booking: ${bookings}">
        <td th:text="${booking.id}"/>
        <td th:text="${booking.username}"/>
        <td th:text="${booking.date}"/>
    </tr>
</table>
<br>
<form id="deleteBookingForm" name="deleteBookingForm" onsubmit="return sendForm()">
    <label for="id">Booking ID to Delete</label><br>
    <input type="text" id="id" name="id"><br>
    <input type="submit" value="Submit">
</form>


<br>
<a href="/">Home</a>

</body>

<script>
    function sendForm() {

        let id = document.forms["deleteBookingForm"]["id"].value;
        let params = 'id=' + id;
        let xhttp = new XMLHttpRequest();
        xhttp.open("DELETE","/booking/delete?"+params,true);
        xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");

        xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status === 200) {
                console.log("xhttp came back with responseText:")
                console.log(xhttp.responseText);
            }
            else
            {
                console.error(xhttp.statusText);
            }
        }

        xhttp.send(params);

        return false;

    }

    function sleep(milliseconds) {
        let currentTime = new Date().getTime();

        while (currentTime + milliseconds >= new Date().getTime()) {
        }
    }


</script>
</html>