<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <title>Permission Denied</title>
</head>

<body>
<div class='c'>
    <div class='error'>Oops!</div>
    <div class='_1'>Permission Denied</div>
    <div class='_2'>Sorry, you do not have access to this page. Please logout and login with valid credentials.</div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" class="btn bt-danger" value="Logout"/>
    </form>
</div>

</body>

</html>