<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Permission Denied</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header th:replace="Fragments/header :: Header"></header>

    <main>
        <div class="container-fluid">
            <h1>Permission Denied</h1>
            <p>You do not have permissions to view this page. Try logging out and logging in as a different user.</p>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-primary" value="Logout"/>
            </form>
        </div>
    </main>

</body>
</html>
