<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internal Server Error</title>
    <th:block th:insert="fragments/theme :: theme"/>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <main>
        <div class="container-fluid">
            <h1>Internal Server Error</h1>
            <p>There was an error. Please try again later.</p>
        </div>
    </main>

</body>
</html>
