<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<!-- Material Bootstrap CSS and JS and common CSS. -->
<!-- Common css must be imported after to override styles from MDB. -->
<th:block th:fragment="theme">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="/js/mdb.min.js" defer></script>
</th:block>
</html>
